// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

// my code starts here!

// variables
@bgcolor: #525050;
@color: white;
@color2: #41f6f6;
@margin: 0 auto;
@width: 100%;
@font-size: 16px;
@border: 3px solid @color;

// mixins
.ffamily() {
	font-family: 'Merienda', cursive;
}

.custom-layout(@justify, @align) {
	display: flex;
	justify-content: @justify;
	align-content: center;
}


// usage
.container {
	width: 880px;
	margin: 0 auto;
	background-color: @bgcolor;
	color: @color;
	.ffamily();

		#navbar {
			.custom-layout(space-around, center);
			flex-wrap: nowrap;
			margin: 20px 20px;
			padding: 20px 20px;
			border: 2px dotted @color2;
			width: @width;
			
			a {
				text-decoration: none;
				color: @color;

					&:hover {
						color: @color2;
						font-size: 1.5em;
					}
			}
		}

		#intro {
			width: 50%;
			.pic {
				width: 80%;
				.custom-layout(center, center);
				transform: rotate(90deg);
				padding: 20px 20px;
				margin: 20% 62% 20% 60%;
				background-color: @color2;
				border: 5px solid @color;

			}

			.name {
				width: 880px;
				text-align: center;
				margin: @margin;
			}

			.p1 {
				.name;
			}

			a {
				text-decoration: none;
				width: 220px;
				.custom-layout(center, center);
				padding: 20px;
				font-size: 2em;
				color: @color2;
				border: @border;
				border-radius: 5px;
				margin-left: 80%;
				margin-bottom: 5%;
				margin-top: 3%;

					&:hover {
						background-color: @color;
						color: #525050;
					}
			}
		}

		#about {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			width: 880px;
			margin: @margin;
			padding-bottom: 10px;

				.about {
					width: 440px;
					height: 180px;
					text-align: justify;
					padding-right: 10px;
					padding-top: 10px;
					padding-left: 10px;
					background-color: #41f6f6;
					color: @bgcolor;
					border: @border;
				
				}

				.history {
					width: 440px;
					.about;
					padding-left: 40px;
				}
		}
		.skills {
			padding: 10px;
			text-align: center;
				a {
					text-decoration: none;
					color: @color2;
						 span{
							&:hover {
								font-size: 40px;
							}
						}
				}
		}
		.contact {
			text-align: center;
			border: 2px dotted @color2;
			padding: 10px;
				.text-area {
					border: 5px solid @color2;
				}
				a {
					text-decoration: none;
					color: @color2;
				}
		}
		
}
@media(max-width: 500px;) {
	.container {
		margin: @margin;
		width: 50%;
			#navbar {
				.custom-layout(center, center);
				flex-direction: column;
			}
	}
}



	





